$blue: #48c7eb;
$light-blue: #a4e3f5;

$light-orange: #f7be63;
$orange: #f39c12;

* {
    font-family: "Work Sans", sans-serif;
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.github-link {
    position: fixed;
    left: 20px;
    top: 20px;
    opacity: 0.2;
    transition: all 0.3s ease;
    .github-logo {
        width: 30px;
        height: 30px;
    }
    &:hover {
        opacity: 0.8;
    }
}

.control-container,
.control-left,
.control-right {
    display: flex;
    flex-wrap: wrap;
}

.control-container {
    margin: 40px auto;
    height: 50px;

    width: 80%;
    padding: 10px 1%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.08);
    justify-content: center;
    align-items: center;

    button {
        cursor: pointer;
        padding: 10px;
        border: none;
        border-radius: 2px;
        margin: 10px;
        transition: all 0.2s ease;
    }

    button:focus {
        outline: none;
    }
    .primary-btn {
        background-color: $light-blue;
    }
    .primary-btn:hover {
        background-color: $blue;
    }
    .secondary-btn {
        background-color: $light-orange;
    }
    .secondary-btn:hover {
        background-color: $orange;
    }
}

#bar-container {
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 70vh;
    box-shadow: 0px 30px 40px 5px rgba(0, 0, 0, 0.1);
    .bar {
        border-radius: 2px;
        flex-grow: 1;
        height: 200px;
        margin: auto 2px 0 0;
        background-color: $blue;
    }
}

.size-container,
.speed-container {
    display: flex;
    flex-direction: column;
    label {
        font-size: 14px;
        align-items: center;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 18px 5px 7px 5px;
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    cursor: pointer;
    background: $light-blue;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $orange;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: $blue;
}

@media screen and (max-width: 1000px) {
    #bar-container .bar {
        margin: auto 1px 0 0;
    }
    .control-container {
        height: 120px;
    }
}

@media screen and (max-width: 840px) {
    #bar-container .bar {
        margin: auto 0 0 0;
    }
}

@media screen and (max-width: 545px) {
    .control-container {
        height: 170px;
    }
}

@media screen and (max-width: 455px) {
    .github-link {
        left: 90%;
        top: 1%;
    }

    .control-container {
        height: 220px;
    }
}
